.flexbox{
    display: flex;
    flex-direction: row;
}

.left{
    flex-basis: 30vw;
    background-color: bisque;
    padding: 20px;
}

.resten1{
    flex-grow: 1;
    background-color: darkgrey;
    padding: 20px;
    
}
 
 .resten2{
    flex-grow: 2;
    background-color: beige;
    padding: 20px;
 }

 .unimportant{
    flex-grow: 1;
    background-color: darkgrey;
    padding: 20px;
    
}

.maincontent{
    flex-grow: 8;
    background-color: rgb(183, 200, 181);
    padding: 20px;
    
}